@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MvcMusicStore_Thu_F2017.Models.Genre>

<h2>Welcome to the Music Store</h2>

<ul>
    @foreach(var g in Model)
    {
        <li>@Html.ActionLink(g.Name, "Browse", "Store", new { genre = g.Name }, null)</li>
    }
</ul>

